@import (less) 'reset';

/* css变量 */
@mainColor: #d43c33;

.page.index {
  padding-top: 5.2rem;
  .sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  .topBar {
    display: flex;
    padding: 0 .5rem;
    height: 3.2rem;
    background-color: #d43c33;
    align-items: center;
    justify-content: space-between;
    .logo {
      display: flex;
      svg {
        align-items: center;
        width: 7.1rem;
        height: 1.25rem;
      }
    }
    .downloadApp {
      display: block;
      padding: 0 .5rem;
      height: 1.5rem;
      line-height: calc(1.5rem - 2px);
      font-size: .75rem;
      color: #fff;
      border: solid 1px #e27d77;
      border-radius: .5rem/.75rem;
    }
  }
  .tabs {
    background-color: #fff;
    .tabs-nav {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-bottom: solid 1px #f2f2f2;
      }

      > li {
        position: relative;
        display: block;
        flex: 1 1 0;
        text-align: center;
        .text {
          position: relative;
          padding: 0 .25rem;
          display: inline-block;
          line-height: 2rem;
          font-size: 0.75rem;
          &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
          }
        }
        &.active {
          .text {
            color: @mainColor;
            &::before {
              border-bottom: solid 2px @mainColor;
            }
          }
        }
      }
    }
  }

  .tab-content {
    > li {
      section {
        padding-top: 1rem;
        .sectionTitle {
          position: relative;
          display: block;
          padding: 0 .45rem;
          margin-bottom: .3rem;
          line-height: 1rem;
          font-size: .85rem;
          &::before {
            position: absolute;
            display: block;
            content: '';
            top: 50%;
            left: 0;
            margin-top: -.45rem;
            width: 10px;
            height: .8rem;
            border-left: solid 2px @mainColor;
          }
        }
        .lists {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          & > li {
            display: block;
            width: 32.85%;
            margin: .4rem 0;
            font-size: .65rem;
            .picture {
              img {
                width: 100%;
              }

            }
            p {

            }
          }
        }
      }
    }
  }
}