* {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
  color: #333;
}
* {
  font-family: Helvetica, sans-serif;
}
*::after {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
  border: none;
  background: none;
}
input,
input:focus,
input:active,
button,
button:focus,
button:active,
textarea,
textarea:focus,
textarea:active,
select,
select:focus {
  border: none;
  outline: none;
}
ul,
ol {
  list-style: none;
}
button {
  border: none;
}
html {
  font-size: calc((100vw/414)*20);
}
body {
  background: #fcfcfd;
}
/* css变量 */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.icon.icon-sq {
  width: 0.7rem;
  height: 0.7rem;
  fill: #FE672E;
  vertical-align: -0.2em;
}
.icon.icon-bofang {
  width: 1.1rem;
  height: 1.1rem;
  fill: #aaa;
}
.icon.icon-sousuo {
  width: 1rem;
  height: 1rem;
  fill: #aaa;
}
.page.index {
  padding-top: 5.2rem;
}
.page.index .sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.page.index .topBar {
  display: flex;
  padding: 0 0.5rem;
  height: 3.2rem;
  background-color: #d43c33;
  align-items: center;
  justify-content: space-between;
}
.page.index .topBar .logo {
  display: flex;
}
.page.index .topBar .logo svg {
  align-items: center;
  width: 7.1rem;
  height: 1.25rem;
}
.page.index .topBar .downloadApp {
  display: block;
  padding: 0 0.45rem;
  height: 1.5rem;
  line-height: calc(1.5rem - 2px);
  font-size: 0.75rem;
  color: #fff;
  border: solid 1px #e27d77;
  border-radius: 0.75rem;
}
.page.index .tabs {
  background-color: #fff;
}
.page.index .tabs .tabs-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page.index .tabs .tabs-nav::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-bottom: solid 1px #f2f2f2;
}
.page.index .tabs .tabs-nav > li {
  position: relative;
  display: block;
  flex: 1 1 0;
  text-align: center;
}
.page.index .tabs .tabs-nav > li .text {
  position: relative;
  padding: 0 0.25rem;
  display: inline-block;
  line-height: 2rem;
  font-size: 0.75rem;
}
.page.index .tabs .tabs-nav > li .text::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.page.index .tabs .tabs-nav > li.active .text {
  color: #d43c33;
}
.page.index .tabs .tabs-nav > li.active .text::before {
  border-bottom: solid 2px #d43c33;
}
.page.index .tab-content > li {
  display: none;
}
.page.index .tab-content > li.active {
  display: block;
}
.page.index .tab-content > li section {
  padding-top: 1rem;
}
.page.index .tab-content > li section.songs {
  margin-top: 0.6rem;
}
.page.index .tab-content > li section.hot-list {
  padding-top: 0;
}
.page.index .tab-content > li section.hot-list .list-img-wrap {
  display: block;
  max-height: 10rem;
  overflow: hidden;
}
.page.index .tab-content > li section.hot-list .list-img-wrap img {
  width: 100%;
}
.page.index .tab-content > li section.hot-list .list {
  margin-top: 0.6rem;
}
.page.index .tab-content > li section.search-wrap {
  padding-top: 0;
}
.page.index .tab-content > li section.search-wrap .ipt-box {
  position: relative;
  display: block;
  padding: 0.75rem 0.5rem;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  line-height: 1.5rem;
}
.page.index .tab-content > li section.search-wrap .ipt-box .ipt {
  width: 100%;
  line-height: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  border-radius: 0.75rem;
  background: #ebecec;
  font-size: 0.7rem;
  border: none;
}
.page.index .tab-content > li section.search-wrap .ipt-box .icon {
  position: absolute;
  left: 0.8rem;
  top: 1.1rem;
}
.page.index .tab-content > li section .sectionTitle {
  position: relative;
  display: block;
  padding: 0 0.45rem;
  margin-bottom: 0.3rem;
  line-height: 1rem;
  font-size: 0.85rem;
}
.page.index .tab-content > li section .sectionTitle::before {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 0;
  margin-top: -0.45rem;
  width: 10px;
  height: 0.8rem;
  border-left: solid 2px #d43c33;
}
.page.index .tab-content > li section .lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.page.index .tab-content > li section .lists > li {
  position: relative;
  display: block;
  width: 32.85%;
  margin: 0.4rem 0;
  font-size: 0.65rem;
}
.page.index .tab-content > li section .lists > li .picture {
  font-size: 0;
}
.page.index .tab-content > li section .lists > li .picture img {
  width: 100%;
}
.page.index .tab-content > li section .lists > li .picture .hot {
  position: absolute;
  right: 5px;
  top: 5px;
}
.page.index .tab-content > li section .lists > li p.text {
  display: -webkit-box;
  padding: 0.2rem 0.3rem 0;
  font-size: 0.65rem;
  line-height: 0.8rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.page.index .tab-content > li section .list {
  margin-top: 0.75rem;
}
.page.index .tab-content > li section .list .item {
  display: block;
  position: relative;
  margin-left: 0.5rem;
  padding: 0.4rem 2.1rem 0.4rem 0;
  border-bottom: solid 1px #f1f1f1;
}
.page.index .tab-content > li section .list .item h3 {
  font-size: 0.85rem;
}
.page.index .tab-content > li section .list .item .text {
  padding-top: 0.1rem;
  font-size: 0.6rem;
  color: #aaa;
}
.page.index .tab-content > li section .list .item i {
  position: absolute;
  display: block;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}
.page.index .tab-content > li footer {
  position: relative;
  height: 53vw;
  margin-top: 0.25rem;
  background: url(../images/recommand_bg_3x.png) no-repeat center;
  background-size: cover;
}
.page.index .tab-content > li footer .download-logo {
  padding-top: 3.45rem;
  margin: 0 auto;
  text-align: center;
}
.page.index .tab-content > li footer .download-logo .logosvg {
  width: 11.5rem;
  height: 2.2rem;
}
.page.index .tab-content > li footer .download-btn {
  position: relative;
  display: block;
  margin: 0.5rem auto 0;
  width: 17rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
  text-align: center;
  color: #d43c33;
}
.page.index .tab-content > li footer .download-btn::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  border: solid 1px #d43c33;
  border-radius: 1rem;
}
.page.index .tab-content > li footer .copyright {
  margin-top: 0.15rem;
  display: block;
  line-height: 1rem;
  text-align: center;
  font-size: 0.6rem;
  color: #888;
  transform: scale(0.75);
}
