* {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
  color: #333;
}
* {
  font-family: Helvetica, sans-serif;
}
*::after {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
  border: none;
  background: none;
}
input,
input:focus,
input:active,
button,
button:focus,
button:active,
textarea,
textarea:focus,
textarea:active,
select,
select:focus {
  border: none;
  outline: none;
}
ul,
ol {
  list-style: none;
}
button {
  border: none;
}
html {
  font-size: calc((100vw/414)*20);
}
body {
  background: #fcfcfd;
}
body {
  background: #313131;
}
* {
  color: #fff;
}
.upload-box {
  padding: 10px;
  margin-bottom: 10px;
  display: block;
  border-radius: 10px;
  cursor: pointer;
}
.btn {
  display: block;
  padding: 5px 30px;
  margin: 5px auto;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  border-radius: 5px;
  background: linear-gradient(120deg, #a32b43, #f54c56);
  cursor: pointer;
}
.page {
  display: flex;
  height: 100vh;
}
.page aside {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-right: 20px;
  background: #272727;
  z-index: 2;
}
.page main {
  display: flex;
  flex-grow: 1;
  padding-left: 40px;
}
.page main .upload-form {
  margin: 0 auto;
  padding: 10px 20px;
  width: 800px;
  align-self: center;
  border-radius: 5px;
  box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.8);
}
.page main .text-title {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
}
.page main .row-box {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.page main .row-box option {
  color: #fff;
  background: #313131;
  line-height: 26px;
}
.page main .row-box option:hover {
  background: #f54c56;
}
.page main .row-box label {
  display: flex;
  align-items: baseline;
}
.page main .row-box .name {
  display: block;
  width: 65px;
  text-align: right;
  margin-right: 10px;
  font-size: 16px;
}
.page main .row-box .ipt,
.page main .row-box .textarea {
  padding: 4px;
  width: 300px;
  line-height: 20px;
  height: 30px;
  border-radius: 3px;
  font-size: 16px;
  border: solid 1px #a32b43;
  background: rgba(255, 255, 255, 0.1);
}
.page main .row-box .ipt.lg,
.page main .row-box .textarea.lg {
  width: 676px;
}
.page main .row-box .textarea {
  height: auto;
}
.page main .row-box .btn-box {
  display: block;
  text-align: center;
  margin: 0 20px;
}
.page .new-playList {
  position: relative;
  text-align: center;
  padding: 5px 0;
  border-bottom: solid 1px #3f3f3f;
}
.page .new-playList .btn {
  padding-left: 40px;
  padding-right: 40px;
}
.page .new-playList::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 1px;
  bottom: 1px;
  width: 4px;
  background-color: transparent;
}
.page .new-playList.active::after {
  background-color: #f54c56;
}
.page .playList-list-container {
  flex-grow: 1;
}
.page .playList-list-container .playList-list li {
  position: relative;
  display: block;
  padding: 7px 0;
  padding-left: 20px;
  font-size: 14px;
  line-height: 20px;
  border-bottom: solid 1px #3f3f3f;
  color: #fff;
  cursor: pointer;
}
.page .playList-list-container .playList-list li::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 1px;
  bottom: 1px;
  width: 4px;
  background-color: transparent;
}
.page .playList-list-container .playList-list li:hover,
.page .playList-list-container .playList-list li.active {
  color: #f54c56;
}
.page .playList-list-container .playList-list li:hover::after,
.page .playList-list-container .playList-list li.active::after {
  background-color: #f54c56;
}
.page .upload-playList {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}
.page .upload-playList .upload-wrap {
  padding: 2px 0 2px 20px;
}
.page .upload-playList button {
  font-size: inherit;
  border: none;
  background: none;
  color: #666;
  cursor: pointer;
}
.page .upload-playList button:hover {
  text-decoration: underline;
}
